[submodule "neovim/.local/share/nvim/site/pack/vim-surround"]
	path = neovim/.local/share/nvim/site/pack/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-surround"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-sensible"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-commentary"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-unimpaired"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/fzf.vim"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-easymotion"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-solarized8"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/bciobanu/ohmyzsh
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-lion"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-lion
	url = https://github.com/tommcdo/vim-lion
